<section class="h-screen grid grid-rows-3 gap-8 mb-8 p-5">
  <article class="self-center">
    <div class="relative">
      <h1 class="text-2xl desktop:text-5xl font-bold">
        Contact me
        <span class="text-3xl text-primary desktop:text-5xl font-bold dark:text-accent">⁕</span>
      </h1>
    </div>
  </article>
</section>
