---
import Label from './Label.astro'
import Button from './Button.astro'

const fieldStyle = "rounded-lg p-2 text-black shadow-secondary-light shadow-sm bg-secondary-light"
---

<form class="grid gap-6 text-base text-black dark:text-white">
  <Label title="name" forName="name">
    <input name="name" type="email" class={fieldStyle} required/> 
  </Label>
  
  <Label title="email" forName="email">
    <input name="email" type="email" class={fieldStyle} required/>
  </Label>

  <Label title="email" forName="email">
    <textarea name="message" class={fieldStyle} required/>
  </Label>

  <div class="flex justify-start">
    <Button title="Send email" style="accent" />
  </div>

</form>
