---
import NavbarItem from './NavbarItem.astro'
import TranslateIcon from './TranslateIcon.astro'
---

<header class="z-10 top-0 py-4 sticky flex items-center justify-around bg-white dark:bg-black">
  <h2 class="text-lg font-bold">Javier Díaz
    <span class="text-accent text-center">⁕</span>
  </h2>
  <nav class="bg-[#fff] shadow-md dark:bg-white py-2 px-12 rounded-full">
    <ul class="relative grid grid-cols-4 gap-10">
      <NavbarItem title='home' href='#home' />
      <NavbarItem title='skills' href='#skills' />
      <NavbarItem title='projects' href='#projects' />
      <NavbarItem title='contact' href='#contact' />
    </ul>
  </nav>
  <button>
    <TranslateIcon type='en' />
  </button>
</header>
