---
interface Props {
  title: string
  forName: string
}

const {title, forName} = Astro.props
---

<div class="grid gap-2">
  <label class="capitalize" for={forName}>{title}</label>
  <slot />
</div>

