---
import TechIcons from './TechIcons.astro'
import type { Project } from '../types.d.ts'

const {title, date, techStack, desc}: Project = Astro.props

---

<article class="grid grid-cols-10 text-lg pb-6
  after:absolute after:w-full after:border-t-[1px] after:border-black after:dark:border-white after:left-0">

  <div class="col-span-2 grid gap-4 pt-6">
    <h3 class="font-bold text-balance">
      {title}
    </h3>
    <div class="w-72 flex flex-col gap-2">
      <div class="flex gap-4 flex-wrap">
        {
          techStack.map(({type}) => (
            <TechIcons type={type} className="size-8"  />        
          ))
        }
      </div>  
    </div>
  </div> 
    
  <div class="col-start-4 col-end-11 gap-4 pt-6">
    <p class="text-pretty">
      {desc}
    </p>
  </div>

</article>


