---
import TechIcons from './TechIcons.astro'

interface Props {
  title: string
  icons: string[]
}

const {title, icons} = Astro.props
---

<div class="flex flex-col gap-4 p-6 bg-black rounded-3xl dark:bg-white">
  <h5 class="text-white dark:text-black font-bold text-2xl">{title}</h5>
  <div class="flex flex-1 gap-4 justify-between items-center">
    {
      icons.map((name) => (
        <TechIcons type={name} className="size-20"/>
      ))
    }
  </div>
</div>

