---
import SkillSet from './SkillSet.astro'

const techIcons = {
  tools: ['git' , 'github' , 'figma'],
  languages: [ 'js' , 'ts' , 'python' , 'html', 'css'],
  frameworks: ['react', 'svelte', 'nextjs', 'astro', 'tailwind'],
  devTools: ['playwright', 'archlinux', 'supabase']
}

//TODO:
//Add style
//[x] Content
//[] Highlights
//[] Background
//[] Responsive
---

<section id="skills" class="h-screen flex items-center pt-12">
  <div class="grid grid-rows-3 items-center gap-12">

    <div class="row-span-1 grid grid-cols-12 gap-24">
      <article class="self-center col-start-2 col-span-10 ">
        <div class="relative col-start-2">
          <h2 class="text-2xl desktop:text-4xl">
            These are </br>
            my 
            <span class="font-bold">Skills</span>
            <span class="text-3xl text-primary desktop:text-5xl font-bold dark:text-accent">⁕</span>
          </h2>
        </div>
      </article>
    </div>

    <div class="row-span-1 grid grid-cols-12 gap-24">
      <article class="w-full col-start-2 col-span-10 grid grid-cols-[2fr_4fr_3fr] h-44 gap-12">
        <SkillSet icons={techIcons.tools} title="Tools"/>
        <SkillSet icons={techIcons.languages} title="Languages"/>
        <div class="relative flex justify-end items-center">
          <h3 class="text-xl text-right desktop:text-2xl">
            But of course</br>
            you want to see </br>
            them in action
          </h3>
        </div>
      </article>
    </div>

    <div class="row-span-1 grid grid-cols-12 gap-24">
      <article class="w-full col-start-2 col-span-10 grid grid-cols-[3fr_4fr_2fr] h-44 gap-12">
        <div class="relative flex items-center">
          <h3 class="text-xl desktop:text-2xl">
            Let's take a look</br>
            at my projects</br>
          </h3>
        </div>
        <SkillSet icons={techIcons.frameworks} title="Libraries & Frameworks"/>
        <SkillSet icons={techIcons.devTools} title="DevTools"/>
      </article>
    </div>

  </div>
</section>
